# Example configuration for Docker Hub repository filtering
# List repositories and filtering rules (regex supported)

repositories:
  - namespace: dataeditors
    filters:
      - repo_regex: '^stata1[5-7]$|^stata1[8-9].*-mp$'
      - tag_regex: ''
        blacklist:
          - '2025-11-12'
          - '2025-08-14'
        keep_latest_n: 4
  - namespace: rocker
    filters:
      - repo_regex: '^r-ver$|^tidyverse$|^verse$|^geospatial$'
      - tag_regex: '^(4\.[2-9]\.\d+|[5-9]\.\d+\.\d+|[1-9][0-9]\.\d+\.\d+)$'
        blacklist:
          - 'devel'
  - namespace: dynare
    filters:
      - repo_regex: '^dynare$'
      - tag_regex: '^[4-6]\.\d+-R\d{4}[a-b]$'
        blacklist:
          - '6.5-R2025b'
